
   *{
    
    z-index: 2;
   }

  img {
    max-width: 100%;
    height: auto;
  }
/*   
  body {
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #1F1D42;
    background-color: #F0F8E1;
  } */
  
  .card-hover {
    background:white;
    width: 360px;
    height: 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
  
   
  
    .card-hover__content {
      width: 100%;
      height: 12rem;
      text-align: center;
      background-color: #86B971;
      padding: 0 60px 50px;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(0);
      transition: all 0.35s 0.35s cubic-bezier(.1,.72,.4,.97);
      will-change: bottom, background-color, transform, padding;
      
  
  
     

    }
  
    .card-hover__title {
      font-size: 1.5rem;
      margin-bottom: 1em;
  
      span {
        color: #2d7f0b;
      }
    }
  
    .card-hover__text {
      font-size: 0.75rem;
    }
  
    .card-hover__link {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translate(-50%, 10%);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      text-decoration: none;
      color: #2d7f0b;
      opacity: 0;
      padding: 10px;
      transition: all 0.35s;
  
      
      }
  
      svg {
        width: 18px;
        margin-left: 4px;
        transition: transform 0.3s;
      }
    }
  
    .card-hover__extra {
      height: 50%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      font-size: 1.5rem;
      text-align: center;
      background-color: #86b971;
      padding: 80px;
      bottom: 0;
     
      color: #dee8c2;
      transform: translateY(100%);
      will-change: transform;
      transition: transform 0.35s;
  
      span {
        color: #2d7f0b;
      }
    }
  
    .card-hover__image{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index:1;
      transform: scale(1.2);
      transition: 0.35s 0.35s transform cubic-bezier(.1,.72,.4,.97);
      width: 50%;
      height: 50%;
      margin: 10% 20%;
  
    }


    .card{
      width: 17rem;
      padding: 1%;
      margin: 30px 28px;
      height: 20rem;
  

    }
  

    .card-img-top{
      height: 60%;
      width: 100%;

    }
  .card-body{
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  